<form method="post" action="/Blog/Save">
	<div class="mb-3">
		<label for="blogTitle" class="form-label">Blog Title</label>
		<input type="text" class="form-control" name="BlogTitle" placeholder="Enter blog title">
	</div>
	<div class="mb-3">
		<label for="blogAuthor" class="form-label">Blog Author</label>
		<input type="text" class="form-control" name="BlogAuthor" placeholder="Enter author name">
	</div>
	<div class="mb-3">
		<label for="blogContent" class="form-label">Blog Content</label>
		<input type="text" class="form-control" name="BlogContent" placeholder="Enter blog content">
	</div>
	<button type="submit" class="btn btn-success">Save</button>
</form>